<header class="app-header">
  <nav>
    <ul>
      <li><a routerLink="/calendar" routerLinkActive="active">Calendar</a></li>
      <li><a routerLink="/grouped-data-browser-demo" routerLinkActive="active">Grouped Data Browser</a></li>
      <li><a routerLink="/asset-catalog-demo" routerLinkActive="active">Asset Catalog</a></li>
      <li><a routerLink="/us-regional-map" routerLinkActive="active">US Regional Map</a></li>
      <li><a routerLink="/bug-report-demo" routerLinkActive="active" class="header-button">Bug Report Demo</a></li>
    </ul>
  </nav>
</header>

<main class="content">
  <router-outlet />
</main>
