<div class="table-container">
  <table class="events-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Occurrence Start</th>
        <th>Occurrence End</th>
        <th>Is Recurring</th>
      </tr>
    </thead>
    <tbody>
      @for (event of expandedEvents; track event.id + '_' + event.occurrenceStartDate.getTime()) {
        <tr>
          <td>{{ event.title }}</td>
          <td>{{ event.occurrenceStartDate | date:'medium' }}</td>
          <td>{{ event.occurrenceEndDate ? (event.occurrenceEndDate | date:'medium') : 'N/A' }}</td>
          <td>{{ event.isRecurringInstance ? 'Yes' : 'No' }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
